.header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
 
  flex-direction: column;
  .navigator {
    display: flex;
    flex: 1;
  }
  .headerTitle {
    display: flex;
    flex: 1;
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0px;
    color: #b482d1;
    margin: 18px 0;
    
  }
}
